{% style %}
  
 .heading_content_btn .heading_content_bl .main_title{text-align: center;margin-bottom: 25px;}

 .heading_content_btn .content_block{max-width: 920px;margin: 0 auto;}
 .heading_content_btn .content_block p{font-size: 20px;line-height: 1.8;}

 .heading_content_btn .btn_wrapper{display: flex;justify-content: center;margin-top: 30px;}

 @media (max-width: 767px){
    .heading_content_btn .content_block p{font-size: 18px;}
 }

 @media (max-width: 575px){
    .heading_content_btn .content_block p{font-size: 16px;}
 }


{% endstyle %}


<section class="heading_content_btn" style="background: {{ section.settings.background_color }};">
  <div class="section section--{{ section.settings.section_width }} section-resource-list spacing-style"  
    style="{% render 'spacing-style', settings: section.settings %}">

    <div class="heading_content_bl">
        {% if section.settings.title != blank %}
         <div class="main_title" style="color: {{ section.settings.title_color }}">{{ section.settings.title }}</div>
        {% endif %}
        {% if section.settings.content != blank %}
        <div class="content_block">
            {{ section.settings.content }}
        </div>
        {% endif %}
        
        {% if section.settings.btn_url != blank %}
            <div class="btn_wrapper">
                <a href="{{ section.settings.btn_url }}" class="bubble-link">{{ section.settings.btn_text }}</a>
            </div>
        {% endif %}

    </div>

  
 </div>
</section>


{% schema %}
  {
    "name": "Heading Text Section",
    "settings": [
        {
         "type": "color",
         "id": "background_color",
         "label": "Background Color",
         "default": "#f2f2f2"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#8a2d73"
        },
        {
        "type": "select",
        "id": "section_width",
        "label": "t:settings.width",
        "options": [
            {
            "value": "page-width",
            "label": "t:options.page"
            },
            {
            "value": "full-width",
            "label": "t:options.full"
            }
        ],
        "default": "page-width"
        },
        {
          "type": "html",
          "id": "title",
          "label": "Title",
          "default": "ANCIENT FRUIT. MODERN FUNCTION."
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Vera, short for vinifera, is a lightly sparkling productive elixir crafted from Vinifera red grapes and enhanced with science-backed adaptogens and nootropics. Rooted in ancient nutrition and designed for modern wellness, Vera supports a lifted mood, sharpened focus, and clarity — without alcohol or artificial shortcuts. It’s a delicious daily ritual for people who want to feel good and stay clear-headed.</p>"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "OUR STORY"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button Url"
        },
        {
          "type": "header",
          "content": "t:content.padding"
        },
        {
          "type": "range",
          "id": "padding-block-start",
          "label": "t:settings.top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding-block-end",
          "label": "t:settings.bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        }
    ],
    "presets": [
      {
        "name": "Heading Text Section",
      }
    ]
  }
{% endschema %}